{% extends "layout/base.html" %}
{% block title %}项目管理{% endblock %}
{% block css %}
<style>
  .col-xs-6 {
    height: 100px;
    width:150px;
    margin: 0 10px 0 20px;
    border: solid 1px #5e5e5e;
    border-radius: 10px;
  }
</style>
{% endblock %}
{% block content %}
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="chanage_confirm_btn_add()">
  新建
  </button>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      <form id="id_project_form">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <span style="color: red">{{ field.errors.0 }}</span>
              </div>
        {% endfor %}
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" id="id_confrim_btn" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
  <div class="panel panel-default" style="margin-top: 20px" id="id_panel_panel_star">
    <div class="panel-heading">星标项目</div>
    <div class="panel-body" id="id_panel_body_star">
      {% for project in user_project %}
          {% if project.star_mark == True %}
          <div class="col-xs-6 col-sm-2"  style="background-color: {{ project.project.get_color_display }}"; >
            <div class="row 1" style="height: 80%;" onclick="chanage_confirm_btn_alert({{ project.project_id}})" data-toggle="modal" data-target="#myModal">
              {{project.project.name}}
            </div>
            <div class="row 2" style="height: 20%; background-color:white;" >
          {% if project.star_mark == True  %}
          <i class="fa-solid fa-star fa-fw" style="color: orange" onclick="star_mark({{ project.project_id }})"></i>
          {% else %}
          <i class="fa-regular fa-star fa-fw"  onclick="star_mark({{ project.project_id }})"></i>
          {% endif %}
        {{ project.project.name }}
          <span>
            <i class="fa-solid fa-person fa-fw" ></i>
            {{ project.user_num }}
          </span>
        </div>
          </div>
        {% endif %}
      {% endfor %}

  </div>
  </div>
  <div class="panel panel-default" id="id_panel_join_panel">
    <div class="panel-heading">我参与的项目</div>
    <div class="panel-body">
    <div class="row">
    {% for project in user_project %}
    <div class="col-xs-6 col-sm-2">
      <div class="row 1" style="height: 80%;background-color: {{project.project.get_color_display}};"  onclick="chanage_confirm_btn_alert({{ project.project_id}})" data-toggle="modal" data-target="#myModal"  >
        <span class="container" style="text-align: center;">
          {{ project.peoject.describe }}
          {{ project.star_mark  }}
        </span>
      </div>
      <div class="row 2" style="height: 20%; background-color:white;" >
        {% if project.star_mark == True  %}
        <i class="fa-solid fa-star fa-fw" style="color: orange" onclick="star_mark({{ project.project_id }})"></i>
        {% else %}
        <i class="fa-regular fa-star fa-fw"  onclick="star_mark({{ project.project_id }})"></i>
        {% endif %}
      {{ project.project.name }}
        <span>
          <i class="fa-solid fa-person fa-fw" ></i>
          {{ project.user_num }}
        </span>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
  </div>
{% endblock %}
{% block js %}
<script>
    //提交新建项目表单
    function add_project(){
        $.ajax({
            url:"{% url 'project:mylist' %}",
            method:"post",
            data:$("#id_project_form").serialize(),
            dataType:"json",
            success:function (res){
                if(res.status==200){
                    console.log("success")
                }else{
                    $.each(res.error_msg,function (name,msg){
                        $("#id_"+name).next().text(msg)
                    })
                }
            }
        })
    }
    //提交修改项目表单
    function alter_project(project_id){
        $.ajax({
            url: "{% url 'project:alter' %}",
            method: "post",
            dataType: "json",
            data: {
                id: project_id,
                name : $("#id_name").val(),
                color: $("#id_color").val(),
                describe: $("#id_describe").val(),
            },
            success:function (res){
                if(res.status==200){
                    console.log("success")

                }else if(res.status=400){
                    alert("非法请求")
                }else if(res.error_msg){
                    console.log(res.error_msg)
                }
            }
        })
    }
    //设置表单提交路径（点击新建按钮）
    function chanage_confirm_btn_add(){
        $("#id_project_form").trigger("reset")
        $("#id_confrim_btn").attr("onclick", "add_project()");
    }

    //设置表单提交路径（点击项目弹出修改窗口）
    function chanage_confirm_btn_alert(project_id){
        $("#id_confrim_btn").attr("onclick", "alter_project("+ project_id + ")")
        $.ajax({
            url: "{% url 'project:alter' %}",
            method:"get",
            dataType:"json",
            data:{
                id:project_id,
            },
            success:function (res){
                if(res.status == 200){
                    $.each(res.project,function (name,value){
                        $("#id_"+name).val(value)
                    })
                }
                else if(res.status == 400){
                    alert("获取数据时发生了错误")
                }
            }
            })
    }

    function star_mark(project_id){
        alert(project_id)
        $.ajax({
            url: "{% url 'project:star' %}",
            data: {project_id:project_id},
            method: "get",
            dataType: "html",
            success: function(res){
                if (res){
                    join_panel = $(res).filter("#id_panel_join_panel")
                    $("#id_panel_join_panel").replaceWith(join_panel)
                    panel_star = $(res).filter("#id_panel_star")
                    $("#id_panel_panel_star").replaceWith(panel_star)
                }else{
                    alert("请求时发生错误")
                    console.log(res)
                }
            }

        })
    }


</script>
{% endblock %}
