{% extends "layout/manage.html" %}
{% load static %}
{% block content %}
  files_test
<!-- 选择要上传的文件 -->
<input id="fileSelector" type="file" />
<!-- 点击按钮上传 -->
<input id="submitBtn" type="submit" onclick="handleFileInUploading()"/>
{% endblock %}
{% block js2 %}
  <script src="{% static 'js/cos-js-sdk-v5.min.js' %}"></script>
  <script>
    // 存储桶名称，由 bucketname-appid 组成，appid 必须填入，可以在 COS 控制台查看存储桶名称。 https://console.cloud.tencent.com/cos5/bucket
    var Bucket = 'qixf-1318476280';  /* 存储桶，必须字段 */

    // 存储桶 region 可以在 COS 控制台指定存储桶的概览页查看 https://console.cloud.tencent.com/cos5/bucket/
    // 关于地域的详情见 https://cloud.tencent.com/document/product/436/6224
    var Region = 'ap-beijing';     /* 存储桶所在地域，必须字段 */

    //上传的fileKey
    var Get_AuthUrl = '{% url "project:operate:get_cos_auth" request.userinfo.project.id %}'

    // 初始化实例
    var cos = new COS({
    // getAuthorization 必选参数
    getAuthorization: function (options, callback) {
        // 服务端例子：https://github.com/tencentyun/qcloud-cos-sts-sdk/blob/master/scope.md
        // 异步获取临时密钥
        var url = Get_AuthUrl; // url 替换成您自己的后端服务
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function (e) {
            try {
                var data = JSON.parse(e.target.responseText);
                var credentials = data.credentials;
            } catch (e) {
            }
            if (!data || !credentials) {
                return console.error('credentials invalid:\n' + JSON.stringify(data, null, 2))
            };
            callback({
                TmpSecretId: credentials.tmpSecretId,
                TmpSecretKey: credentials.tmpSecretKey,
                SecurityToken: credentials.sessionToken,
                // 建议返回服务器时间作为签名的开始时间，避免用户浏览器本地时间偏差过大导致签名错误
                StartTime: data.startTime, // 时间戳，单位秒，如：1580000000
                ExpiredTime: data.expiredTime, // 时间戳，单位秒，如：1580000000
                ScopeLimit: true, // 细粒度控制权限需要设为 true，会限制密钥只在相同请求时重复使用
            });
        };
        xhr.send(JSON.stringify(options.Scope));
    }
});

// 获取长度为len的随机字符串
function _getRandomString(len) {
    len = len || 32;
    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678'; // 默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1
    var maxPos = $chars.length;
    var random_str = '';
    for (i = 0; i < len; i++) {
        random_str += $chars.charAt(Math.floor(Math.random() * maxPos));
    }
    return random_str;
}

    // 接下来可以通过 cos 实例调用 COS 请求。
function handleFileInUploading(file) {
    console.log(file)
    //生成随机字符串作为Key值
    var file_fullname = file.name.split('.')
    var ext = file_fullname.pop()
    var key_name = _getRandomString()
    var FileKey = key_name + "." + ext
    var file_name = file_fullname.join()


  cos.uploadFile({
      Bucket: Bucket, /* 填写自己的 bucket，必须字段 */
      Region: Region,     /* 存储桶所在地域，必须字段 */
      Key: FileKey,              /* 存储在桶里的对象键（例如:1.jpg，a/b/test.txt，图片.jpg）支持中文，必须字段 */
      Body: file, // 上传文件对象
      SliceSize: 1024 * 1024 * 5,     /* 触发分块上传的阈值，超过5MB使用分块上传，小于5MB使用简单上传。可自行设置，非必须 */
      onProgress: function(progressData) {
          console.log(JSON.stringify(progressData));
      }
  }, function(err, data) {
      if (err) {
        console.log('上传失败', err);
      } else {
          alert(file_name);
          $.ajax(
              {
              url:Get_AuthUrl,
              method:"get",
              data:{"file_name": file_name, "key": FileKey},
              dataType:"json",
              success:function (res){
                          console.log('上传成功');
              }

          })

      }
  });
}

/* 选择文件 */
document.getElementById('submitBtn').onclick = function (e) {
  var file = document.getElementById('fileSelector').files[0];
  if (!file) {
    document.getElementById('msg').innerText = '未选择上传文件';
    return;
  }
  handleFileInUploading(file);
}


  </script>

{% endblock %}