{% extends "layout/base.html" %}
{% block title %}登录{% endblock %}
{% block content %}
  <div class="container">
      <h1>登录</h1>
        <form id="user_sms_login_form">
        {% csrf_token %}
          {% for field in form %}
            {% if field.name == "code" %}
              <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <div class="row">
                    <div class="col-xs-12 col-md-8">{{ field }}<span style="color: red">{{ field.errors.0 }}</span></div>
                    <div class="col-xs-12 col-md-4">
                      <input id="send_code_btn" type="button" class="btn btn-default" value="获取验证码" onclick="send_code()">
                    </div>
                  </div>
              </div>

            {% else %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <span style="color: red">{{ field.errors.0 }}</span>
              </div>
            {% endif %}
          {% endfor %}
          <div class="form-group">
            <button type="button" class="btn btn-default" onclick="user_sms_login()">登录</button>
          </div>
        </form>
    </div>
{% endblock%}


{% block js %}
  <script>
      var wait = 60;
      function  set_btn_disabled() {
          time_sleep($("#send_code_btn"))
      }
      //获取验证码
      function send_code(){
          $.ajax({
              url: "{% url "user:sendsms" %}",
              method: "get",
              data:{
                  "req": "register",
                  "mobile_phone": $("#id_mobile_phone").val(),
              },
              dataType:"json",
              success:function (res){
                  if (res.status == 200){
                      console.log("验证码发送成功:"+res.code)
                      set_btn_disabled()
                  }else{
                      alert(res.error_msg)
                  }
              }
          })
      }
      //使按钮变为disabled状态，每个一秒执行一次wait--，当wait<=1时，不在执行
      function time_sleep(o){
          if(wait <= 1){
              o.attr("disabled", false)
              o.val("获取验证码");
              wait = 60;

          } else {
              o.attr("disabled", true)
              o.val("重新发送（"+ wait +")") ;
              wait --
              setTimeout(function (){
                  time_sleep(o)
              },1000)
          }
      }
      //用户登录
      function  user_sms_login(){
          $(".form-control").next().text("")
          $.ajax({
              url: "{% url 'user:smslogin' %}",
              data: $("#user_sms_login_form").serialize(),
              method: "post",
              dataType: "json",
              success:function (res){
                  console.log(res.error_msg)
                  if (res.status == 200){
                      console.log("success")
                      location.reload()
                  }
                  else if(res.status == 304){
                      window.location.href=res.redirect_url
                  }
                  else {
                      console.log("error..")
                      $.each(res.error_msg,function(name,msg){
                          $("#id_"+name).next().text(msg[0])
                      })
                  }
              }
          })
      }

  </script>
{% endblock %}