{% extends "layout/base.html" %}
{% load project_inclusion_tag %}
{% block appindex %}{% url "proejct:index" %}{% endblock %}
{% block navbar %}
  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "project:index" %}">Tracer</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">项目 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% display_project request %}
              </ul>
            </li>
            {% if request.userinfo.project %}
                <li {% if request.now_tag == "overview" %}class="active"{% endif %}><a href="{% url 'project:operate:overview' request.userinfo.project.id %}">概览</a></li>
                <li {% if request.now_tag == "issue" %}class="active"{% endif %}><a href="{% url 'project:operate:issue' request.userinfo.project.id %}">问题</a></li>
                <li {% if request.now_tag == "analyze" %}class="active"{% endif %}><a href="{% url 'project:operate:analyze' request.userinfo.project.id %}">统计</a></li>
                <li {% if request.now_tag == "file" %}class="active"{% endif %}><a href="{% url 'project:operate:file' request.userinfo.project.id %}">文件</a></li>
                <li {% if request.now_tag == "wiki" %}class="active"{% endif %}><a href="{% url 'project:operate:wiki' request.userinfo.project.id %}">wiki</a></li>
                <li {% if request.now_tag == "settings" %}class="active"{% endif %}><a href="{% url 'project:operate:settings' request.userinfo.project.id %}">设置</a></li>
            {% endif %}
            {% block project_navbar %}
            {% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if not user %}
              <li><a href="{% url "user:login" %}">登录</a></li>
              <li><a href="{% url "user:register" %}">注册</a></li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">{{ user.user }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'user:logout' %}">退出</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
{% endblock %}
{% block content %}
{% endblock %}